extends layout

block content
  h1 FreeCodeCamp API Basejump: URL Shortener Microservice
  br
  h3 User stories:
  p I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.
  p When I visit that shortened URL, it will redirect me to my original link.

  h3 Example creation usage:
  code https://kevin-url-shortener.herokuapp.com/new/https://www.google.com
  br
  code https://kevin-url-shortener.herokuapp.com/new/http://foo.com:80

  h3 Example creation output:
  code { original_url: "https://www.google.com", shorten_url: "https://kevin-url-shortener.herokuapp.com/S1vMPHyd" }

  h3 Usage:
  code https://kevin-url-shortener.herokuapp.com/S1vMPHyd

  h3 Will redirect to:
  code https://www.google.com/